body {
    /*background-color: #EDEDED;*/
    background-image: url("/images/background.jpg");
}

.main {
    margin: 35px;
    background-color: white;
}

.nav-div {
    background-color: #ECECEC;
}

.web-name {
    font-size: 22px;
}

.ques-title {
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 8px;
    color:#245DA5;
}

.icon-fire {
    color: #F37D38;
}

.hot-question {
    line-height: 35px;
    font-size: 16px;
    margin-left: 10px;
    padding-left: 10px;
    color: #666666;
    /*list-style: none;*/
}

.hot-question a {
    color: #52A1D6;
}

.guide-span {
    line-height: 25px;
    font-size: 16px;
}

.media-object {
    width: 50px;
    height: 50px;
}

.text-desc {
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 12px;
}

.error {
    margin-left: 50px;
    margin-top: 20px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comment-sp {
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu {
    color: #999;
}

.menu .icon {
    margin-right: 8px;
    font-size: 14px;
    margin-top: 6px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.menu .dateTime {
    font-size: 12px;
}

.sessionUserName {
    font-size: 12px;
    color: #5e5e5e;
}

.question-title {
    margin-top: 10px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 35px;
    font-size: 15px;
    margin-left: 5px;
    padding-left: 5px;
    list-style: none;
}

.sub-comments {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.related-problem {
    margin-top: 10px;
    padding-top: 5px;
}

/*tag*/
.publish-select-tag {
    display: none;
}

.tab-content .tab-pane {
    margin-top: 15px;
}

.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.new-replies {
    margin-top: 20px;
}

.tag-div {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.footer-page {
    text-align: center;
    font-size: 12px;
    color: #666666;
    margin-bottom: 10px;
}

.panel-default {
    margin-top: 15px;
}

.panel-index {
    margin-top: 0;
}

.panel-title {
    font-size: 20px;
}

.qq-wechat {
    margin-left: 7px;
}

.search-tag {
    line-height: 35px;
    font-size: 15px;
    margin-left: 5px;
    padding-left: 5px;
    list-style: none;
}

.tags {
    float: left;
    margin-right: 5px;
}

.tags a:hover {
    text-decoration: none;
}